---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.center{
  text-align: center;
}

.rounded{
  width: 260px;
  height: 260px;
  border-radius: 50%;
	border: 5px solid #333;
	margin-bottom: 1.5rem;
}

.read-more{
	border: 1px solid #333;
	border-radius: 8px;
	padding: 4px;
	background-color: #333;
	color: white;
}

.read-more:hover{
	color: white;
	background-color: #666666;
}
